<div class="card">
  <div class="card-header text-white bg-primary">
    <a class="card-link">Following {{ user ? user.following.length : "" }}</a>
  </div>
  <div class="card-body">
    <ng-container *ngIf="user">
      <ng-container *ngFor="let name of user.following">
        <div class="inline padding">
          <a href ="/profile/{{name}}">
            <img class="btn-circle placeholder-size fit" src="../assets/user-placeholder.jpg" width="50" height="50">
            <figcaption>{{name}}</figcaption>
          </a>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>