<ng-container *ngIf="user">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3">
        <app-user-info-card [user]="user" [isLoggedInUser]="isLoggedInUser"></app-user-info-card>
      </div>
      <div class="col-md-6">
        <app-kweet-overview-card [isLoggedInUser]="isLoggedInUser" [user]="user" [shouldShowAllKweets]="true"></app-kweet-overview-card>  
      </div>
      <div class="col-md-3">
        <app-follower-card [user]="user"></app-follower-card>
        <app-following-card [user]="user"></app-following-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!user">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-header text-white bg-primary">
            <h3 class="card-title">Your username</h3>
          </div>
          <div class="card-body">
            Create an account if you want your own page!
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-kweet-overview-card [isLoggedInUser]="isLoggedInUser" [shouldShowAllKweets]="true"></app-kweet-overview-card>
      </div>
      <div class="col-md-3">
        <app-follower-card [user]="user"></app-follower-card>
        <app-following-card [user]="user"></app-following-card>
      </div>
    </div>
  </div>
</ng-container>