.right {
    float: right;
}

.left {
    float: left;
}

.vertical {
    margin-top: 0.5em;
    margin-bottom: auto;
}

.placeholder-size {
    width: 60px;
    height: 60px;
    padding: 0.5em;
}

.inline {
    display: inline-block;
}

.no-margin {
    margin: 0 !important;
}