.margin {
    margin: 10px;
}

.block-container {
    display: block;
    border: 1px solid black;
    padding: 1em;
}

.btn-primary {
    color: #fff !important;
    background-color: #007bff;
    border-color: #007bff;
}

p {
    margin-top: 0;
    margin-bottom: 0 !important;
}
