<div class="container" *ngIf="user">
  <div class="row text-center">
    <div class="col-sm-3">
      <app-user-info-card [user]="user" [isLoggedInUser]="isLoggedInUser" (refreshData)="refreshData($event)"></app-user-info-card>
    </div>
    <div class="col col-sm-6">
      <app-kweet-overview-card [isLoggedInUser]="isLoggedInUser" [user]="user" [shouldShowAllKweets]="false"></app-kweet-overview-card>
    </div>
    <div class="col-sm-3">
      <app-follower-card [user]="user"></app-follower-card>
      <app-following-card [user]="user"></app-following-card>
    </div>
  </div>
</div>