<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-white bg-primary">
          <h2 for="name">Search</h2>
        </div>
        <div class="card-body text-white bg-primary">
          <form [formGroup]="searchForm" (ngSubmit)="searchForKweets()">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="search" placeholder="What I search is *" value="" />
              <span class="input-group-btn">
                <button class="btn btn-light" type="submit"><i class="fas fa-search"></i></button>
              </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="kweets;" class="row">
    <div class="col-md 12">
      <div class="card">
        <div class="card-body text-white bg-primary">
          <ng-container *ngIf="kweets && kweets.length > 0; else nothingFound">
            <div *ngFor="let kweet of kweets">
              <app-kweet [kweet]="kweet" (kweetDeleted)="deleteKweet($event)"></app-kweet>
            </div>
          </ng-container>
          <button *ngIf="!noMoreKweets && !isFirstSearch" (click)="getNewKweets()" class="btn btn-block btn-light margin">Get more kweets</button>
          <div *ngIf="noMoreKweets" class="margin text-center">
            <h3>There are no more kweets available.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #nothingFound>
  <div>
    No kweets were found...
  </div>
</ng-template>